p {
	margin: 15px 0;
}

.padding {
	padding: 15px;
}

.smaller {
	font-size: 12px;
}

.component {
	background-color: #FFF;
}

.component .checkbox {
	padding-top: 0;
}

.component label {
	padding-top: 10px;
	padding-bottom: 10px;

	/* Give this 100% width so the user can click anywhere in the component,
		not just the text of the label */
	width: 100%;
}

.component.active {
	background-color: #E6E6E6;
}

.component-help-tooltip {
	margin-left: 4px;
}

#patientAgeGroup {
	padding-left: 8px;
}

#patientAgeLabel {
	/* Normal Bootstrap labels are bold, so let's not make this one bold. */
	font-weight: normal;
}

.tooltip-inner {
	/* Make sure the width of our tooltips is at least 150px - this adds to
		the default Bootstrap styling for tooltips. */
	min-width: 150px;
}
