body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
}

p {
  margin: 15px 0;
}

a {
  cursor: pointer;
}

.padding {
  padding: 15px;
}

.smaller {
  font-size: 12px;
}
