// Color variables.
$astral: #337ab7;
$astral-dark: #23527c;
$black: #000;
$grey: #ddd;
$hit-gray: #adb5bd;
$kelp: #4b4c3e;
$link-water: #d9edf7;
$mine-shaft: #333;
$scooter: #46b8da;
$scooter-dark: #31b0d5;
$viking: #5bc0de;
$viking-dark: #269abc;
$white: #fff;

// Fonts.
$font-face: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-line-height: 1.42857;

// Breakpoints and sizing.
$max-width: 1170px;
$screen-xs-max: 767px;
$side-padding: 20px;
$mobile-padding: 15px;

// Specific shared styles.
$modal-box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, .21);

// z-index values
$zindex-modal: 2000;
