# Caches.
.babel-cache
.eslintcache
.jest-cache
.tmp

# Database
db

# Dependencies.
node_modules

# Builds.
dist

# Logs
npm-debug.log
yarn-error.log

# Computer specific files.
.DS_Store
.env
.idea
