.feedback-modal {
  label {
    display: block;

    margin-bottom: 2px;

    font-size: 12px;
  }

  input,
  textarea {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 1px solid $grey;
    border-radius: 2px;
  }

  textarea {
    height: 90px;
    padding: 10px;
  }
}

.feedback-modal-instructions {
  padding: 15px;
  background-color: $link-water;
}

.modal-footer {
  text-align: right;
}
