.symptom-info-container {
  display: inline-block;
  position: relative;

  margin-left: 5px;

  .icon-info {
    width: 14px;
    height: 14px;
  }
}

.symptom-info-content-container {
  position: absolute;
  left: -125px;

  width: 250px;
  border: 1px solid $grey;

  z-index: 1;
}

.symptom-info-arrow-indicator {
  position: absolute;
  top: -4px;
  left: 50%;

  width: 8px;
  height: 8px;
  margin-left: 2px;
  transform: rotate(45deg);
  border: 1px solid $grey;

  background-color: $white;
}

.symptom-info-content {
  position: relative;

  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: $white;

  z-index: 2;
}
