.button {
  display: inline-block;

  padding: 6px 12px;
  transition: all .15s ease-in-out;
  border: 1px solid $scooter;
  border-radius: 4px;
  outline: none;
  background-color: $viking;
  color: $white;

  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;

  &:hover:not(.button-disabled) {
    border-color: $scooter-dark;
    background-color: $viking-dark;
  }

  &:focus {
    outline: none;
  }
}

.button-disabled {
  cursor: not-allowed;
  opacity: .65;
}
